body{
  background-color: grey;
}
.wa{
  margin-bottom: 2.5vw;
  font-size: 1rem;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  text-align: left;
  background:white;
}
.wb,.wd{
  margin-bottom: 2.5vw;
  position: relative;
  margin: 0 0 20px;
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 2em;
  background:white;
}
.wd{
  margin-bottom: 30px;
}
.wc{
  padding-left: 30px;
  position: relative;
  font-size: 1rem;
  text-align:left;
  font-weight: 300;
  line-height: 2em;
  background:white;
}
span{
  font-size: 0.9rem;
}
.wz{
  float: left;
  text-align: left;
  width: calc(50% - 25px);
  padding: 20.4px;
  border-radius: 3px;
  margin-top: -136px;
  font-weight: 300;
  line-height: 2em;
  font-size: 1rem;
  background-color: #fff;
}
.yin1{
  float: left;
  text-align: center;
  font-size: 1rem;
  display: block;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  top: -100px;
  left: 150px;
  width: calc(100% - 100px);
}
.yin2{
  font-weight: 300;
  line-height: 2em;
  color: #000;
  text-align: center;
  font-size: 0.85rem;
  box-sizing: border-box;
  background: transparent;
  display: block;
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: -150px;
  left: 300px;
  float: right;
}

.big1{
  float: right;
}
.p1, .p2{
  float: left;
  font-weight: 300;
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 0.85rem;
  box-sizing: border-box;
  display: block;
  line-height: 0;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  left: 20px;
  top: 20px;
  width: 500px;
  height: 500px;
}
.chizi{
  line-height: 1;
  box-sizing: border-box;
  display: block;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  padding-top: 0px;
  width: 55%;
  float:right;
}
.jiaju{
  float:right;
  width: 100%;
  padding-top: 0px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  display: block;
}

p{
  margin: auto;
  position: relative;
  padding: 0;
  font-size: 0.85rem;
  display: block;
  border: 0;
  margin: 0 0 20px;
  padding: 0;
  text-align: left;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}
.zbu{
  height: 1000px;
}
.p3i img{
  border-radius: 3px;
  overflow: hidden;
  text-decoration: none;
  background: #fff;
  display: block;
  width: 100%;
  margin: 0 auto 5vw;
  margin-right: 50px;
  margin-bottom: 1rem;
}
.title{
  font-size: 0.8rem;
  text-align:center;
  margin-bottom: 5px;
}
.lan{
  border-radius: 3px;
  overflow: hidden;
  padding: 1em;
}
.di,.di img{
  position: relative;
  /* left: 50%;
  top: 50%; */
  height: 100%;
}
.dakuai{
  font-weight: 300;
  line-height: 2em;
  background: #fff;
  font-size: 1rem;
  margin-bottom:5vw;
}

.tri{
  padding: 0px 50px 0px;
}
.dibu1, .kuang, .lit{
  text-align: center;
}
.lit{
  text-align:left;
}
.kuang{
  padding-bottom: 100px;
}
.img-w img{
  display: block;
  position: relative;
  transition: all 3s;
}
.img-w:hover img{
  transform:scale(1.1)
}

.img-w {
  overflow: hidden;
}
.co::before {
  content: "[";
  position: relative;
  right: 15px;
  font-weight: 100;
}
.co::after {
  content: "]";
  position: relative;
  left: 15px;
  font-weight: 100;
}
.so{
  text-align: center;
}

ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

ul li {
	display: inline-block;
	padding: 5px 10px 5px 10px;
}
.we{
  margin-left: 20px;
  width: 400px;
    background-color: #fff;

}

.wr{
  width: 400px;
    background-color: #fff;

}
.wr img, .we img{
  margin: 0px 0px 0px 8px;
}
a{
  text-decoration:none;
    color: black;
}
.aw{
  text-align: center;
}