.wa{
  margin-bottom: 2.5vw;
  font-size: 1rem;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  text-align: left;
  background:white;
}
.wb,.wd{
  margin-bottom: 2.5vw;
  position: relative;
  margin: 0 0 20px;
  padding: 0;
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 2em;
  background:white;
}
.wd{
  margin-bottom: 30px;
}
.wc{
  padding-left: 30px;
  position: relative;
  font-size: 1rem;
  text-align:left;
  font-weight: 300;
  line-height: 2em;
  background:white;
}
span{
  font-size: 0.9rem;
}
.wz{
  float: left;
  text-align: left;
  width: calc(50% - 25px);
  padding: 20.4px;
  border-radius: 3px;
  margin-top: -136px;
  font-weight: 300;
  line-height: 2em;
  font-size: 1rem;
  background-color: #fff;
}

.yin1{
  float: left;
  text-align: center;
  font-size: 1rem;
  padding: 0;
  border: 0;
  display: block;
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 0;
  position: relative;
  top: 100px;
  left: 100px;
  width: calc(100% - 100px);
}
.chizi{
  line-height: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  padding-top: 40%;
  width: 55%;
  float:right;
}
.yin2{
  font-weight: 300;
  line-height: 2em;
  color: #000;
  text-align: center;
  font-size: 0.85rem;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  display: block;
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 0;
  float: right;
}
.jiaju{
  float:right;
  width: 100%;
  padding-top: 80%;
  top:0;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
.big1{
  float: right;
}
.p1,.p2{
  float: left;
  font-weight: 300;
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 0.85rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  line-height: 0;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  left: 20px;
  top: 20px;
  width: 500px;
  height: 500px;
}
p{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0;
  font-size: 0.85rem;
  display: block;
  border: 0;
  margin: 0 0 20px;
  padding: 0;
  text-align: left;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}